body {
	position: relative;
	padding-top: 105px !important;
	background-color: #FDFCFB !important;
}

span, span::before, span::after {
	box-sizing: content-box !important;
}

.navbar {
	background: #313640 !important;
	padding: 28px 0 26px !important;
	margin: 0 !important;
	font-size: 20px !important;
	color: #FFFFFF !important;
	line-height: 28px !important;
}

.navbar-brand {
	font-size: 28px !important;
	line-height: 28px !important;
	vertical-align: middle !important;
}

.nav-tabs {
	line-height: 28px !important;
	vertical-align: middle !important;
	border: none !important;
	border-bottom: none !important;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover {
	border: none !important;
	background-color: #313640 !important;
}

.nav-tabs > li > a {
	color: #FFFFFF !important;
	transition: color 0.25s linear;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #C7BAAD !important;
	transition: color 0.25s linear;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: #313640 !important;
	outline: none !important;
	border: none !important;
	cursor: default !important;
}

.navbar-brand {
	cursor: pointer !important;
}

.jumbotron {
	margin: 0px !important;
	padding: 0px !important;
	background-color: #3F3F3F !important;
	min-height: 150px !important;
	display: flex !important;
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: o-flex !important;
	display: ms-flex !important;
}

.ch {
	color: #40B0F9 !important;
}

.ry {
	color: #FF9421 !important;
}

.nan {
	color: #41AF3D !important;
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #F7F7F3;
	min-height: 300px;
}

.section-two {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #E9E9E9;
	min-height: 300px;
}

.stack-overflow-container {
	position: fixed;
	width: 100%;
}

#stack-overflow-link {
	float: right;
}

.hide-link {
	animation: fade-out-up 1s;
	-webkit-animation: fade-out-up 1s;
	-moz-animation: fade-out-up 1s;
	-o-animation: fade-out-up 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
}

.show-link {
	animation: fade-in-down 1s;
	-webkit-animation: fade-in-down 1s;
	-moz-animation: fade-in-down 1s;
	-o-animation: fade-in-down 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
}

@keyframes fade-in-down {
  0% {opacity: 0; visibility: hidden; height: 0;}
  100% {opacity: 1; visibility: visible; height: 58px;}
}

@-webkit-keyframes fade-in-down {
  0% {opacity: 0; visibility: hidden; height: 0;}
  100% {opacity: 1; visibility: visible; height: 58px;}
}

@-moz-keyframes fade-in-down {
  0% {opacity: 0; visibility: hidden; height: 0;}
  100% {opacity: 1; visibility: visible; height: 58px;}
}

@keyframes fade-out-up {
  0% {opacity: 1; height: 58px; visibility: visible;}
  100% {opacity: 0; height: 0; visibility: hidden;}
}

@-webkit-keyframes fade-out-up {
  0% {opacity: 1; height: 58px; visibility: visible;}
  100% {opacity: 0; height: 0; visibility: hidden;}
}

@-moz-keyframes fade-out-up {
  0% {opacity: 1; height: 58px; visibility: visible;}
  100% {opacity: 0; height: 0; visibility: hidden;}
}

#about {
	padding-top: 50px;
}

.name-header {
	display: inline-block;
	visiblity: hidden;
	margin-top: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 24px;
	background-color: #474E5D;
	color: #FFFFFF;
}

.dsc {
	display: inline-block;
	visibility: hidden;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #40B0F9;
	color: #FFFFFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

@media (max-width: 500px){
	.name-header {
		margin: auto;
	}
	
	.dsc {
		margin-left: 7.5%;
		margin-right: 7.5%;
	}
	
	.flex-parent {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.flex-parent > p {
		margin: auto;
	}
}

.fade-in {
	animation: fade-in 1.5s;
	-webkit-animation: fade-in 1.5s;
	-moz-animation: fade-in 1.5s;
	-o-animation: fade-in 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
}

.fade-in-delay {
	animation: fade-in 1.5s 1s;
	-webkit-animation: fade-in 1.5s 1s;
	-moz-animation: fade-in 1.5s 1s;
	-o-animation: fade-in 1.5s 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}

@-webkit-keyframes fade-in {
  0% {opacity: 0; visibility: hidden}
  100% {opacity: 1; visibility: visible;}
}

@-moz-keyframes fade-in {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}

/* command prompt */

#cmd-container {
	width: 80% !important;
	margin-top: 40px;
	margin-bottom: 40px;
}

#cmd-header {
	background-color: #C7BAAD;
	color: #474E5D;
	text-align: center;
	font-size: 18px;
	padding: 2px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
}

#cmd {
	background-color: #474E5D;
	color: #41AF3D;
	font-size: 18px;
	width: 100%;
	height: 30%;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
}

.terminal {
	height: 250px !important;
}

.terminal-output, .terminal-output > div, 
.terminal-output > div > div {
	padding: 5px !important;
	line-height: 20px !important;
}

.cmd {
	font-size: 18px !important;
	line-height: 20px !important;
	padding: 2px !important;
}

/* End of Command Prompt */

/* Timeline */

.always-flex-parent {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	margin-top: 40px;
}

.always-flex-parent > h4 {
	margin: auto;
}

.timeline-header {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
	padding: 0.5em 1em;
	border-radius: 5px;
	color: #313640;
	background-color: #FFFFFF;
}

.timeline {
	position: relative;
	padding: 10px;
	padding-bottom: 0;
	margin: 40px;
	margin-bottom: 0;
	overflow: hidden;
}

.timeline-bar {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 5px;
	margin-left: -2.5px;
	background-color: #A7AECC
}

.timeline-block {
	position: relative;
	padding: 1em;
	margin: 4em 0;
}

.timeline-block:after {
	content: "";
	display: table;
	clear: both;
}

.timeline-block:nth-child(2) {
	margin-top: 0;
}

.timeline-block:last-child {
	margin-bottom: 0;
}

.timeline-point {
	position: absolute;
	top: 1em;
	left: 50%;
	margin-left: -30px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #40B0F9;
}

.timeline-date {
	position: relative;
	display: inline-block;
	font-size: 18px;
	color: #3AB2FF;
	line-height: 60px;
	vertical-align: middle;
	white-space: nowrap;
}

.timeline-block:nth-child(3n+3) .timeline-point {
	background-color: #FF9421;
}

.timeline-block:nth-child(3n+4) .timeline-point {
	background-color: #41AF3D;
}

.timeline-content {
	position: relative;
	padding: 1.5em;
	width: 45%;
	background-color: #FFFFFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.timeline-content > h2 {
	margin: 0 !important;
	font-size: 24px !important;
}

.timeline-content > p {
	margin: 1em !important;
}

.timeline-arrow {
	display: inline-block;
	position: absolute;
	border: 0.75em solid transparent;
	width: 0;
	height: 0;
}

.hidden {
	visibility: hidden;
}

@media (min-width: 700px) {
	.timeline-block:nth-child(even) .timeline-point .timeline-date {
		left: 120%;
	}

	.timeline-block:nth-child(odd) .timeline-point .timeline-date {
		right: 120%;
	}
	
	.timeline-block:nth-child(odd) .timeline-content{
		float: right;
	}

	.timeline-block:nth-child(even) .timeline-content{
		float: left;
	}
	
	.timeline-block:nth-child(odd) .timeline-content .timeline-arrow {
		border-right: 0.75em solid white;
		right: 100%;
	}

	.timeline-block:nth-child(even) .timeline-content .timeline-arrow {
		border-left: 0.75em solid white;
		left: 100%;
	}

	.timeline-block:nth-child(even) .timeline-content.bounce-in {
		animation: bounce-in-left 0.7s;
		-webkit-animation: bounce-in-left 0.7s;
		-moz-animation: bounce-in-left 0.7s;
		-ms-animation: bounce-in-left 0.7s;
		-o-animation: bounce-in-left 0.7s;
	}

	.timeline-block:nth-child(odd) .timeline-content.bounce-in {
		animation: bounce-in-right 0.7s;
		-webkit-animation: bounce-in-right 0.7s;
		-moz-animation: bounce-in-right 0.7s;
		-ms-animation: bounce-in-right 0.7s;
		-o-animation: bounce-in-right 0.7s;
	}
	
}

.appear-in {
	animation: appear-in 0.6s;
	-webkit-animation: appear-in 0.6s;
	-moz-animation: appear-in 0.6s;
	-ms-animation: appear-in 0.6s;
	-o-animation: appear-in 0.6s;
}

@-webkit-keyframes bounce-in-left {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(5px, 0, 0);
	}
	100% {
		-webkit-transform: none;
	}
}

@-moz-keyframes bounce-in-left {
	0% {
		opacity: 0;
		-moz-transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-moz-transform: translate3d(25px, 0, 0);
	}
	75% {
		-moz-transform: translate3d(-10px, 0, 0);
	}
	90% {
		-moz-transform: translate3d(5px, 0, 0);
	}
	100% {
		-moz-transform: none;
	}
}

@keyframes bounce-in-left {
	0% {
		opacity: 0;
		transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(25px, 0, 0);
	}
	75% {
		transform: translate3d(-10px, 0, 0);
	}
	90% {
		transform: translate3d(5px, 0, 0);
	}
	100% {
		transform: none;
	}
}

@keyframes bounce-in-right {
 0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes bounce-in-right {
 0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
  }
}

@-moz-keyframes bounce-in-right {
 0% {
    opacity: 0;
    -moz-transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -moz-transform: translate3d(-25px, 0, 0);
  }
  75% {
    -moz-transform: translate3d(10px, 0, 0);
  }
  90% {
    -moz-transform: translate3d(-5px, 0, 0);
  }
  100% {
    -moz-transform: none;
  }
}

@keyframes appear-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes appear-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes appear-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@media only handheld, (max-width: 700px) {
	.timeline {
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
	}
	
	.timeline-bar {
		left: 30px;
	}
	
	.timeline-point {
		left: 5px;
		height: 30px;
		width: 30px;
	}
	
	.timeline-date {
		left: 120%;
		top: -100%;
		line-height: 30px;
	}
	
	.timeline-content{
		float: right;
		width: 90%;
	}
	
	.timeline-arrow {
		border-right: 0.75em solid white;
		top: 0.5em;
		right: 100%;
	}
	
	.timeline-content.bounce-in {
		animation: bounce-in-right 0.7s;
		-webkit-animation: bounce-in-right 0.7s;
		-moz-animation: bounce-in-right 0.7s;
		-ms-animation: bounce-in-right 0.7s;
		-o-animation: bounce-in-right 0.7s;
	}
}

/* Timeline End */

.canvas-container {
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}

.donut-chart {
	width: 100% !important;
	height: auto !important;
	min-width: 150px;
	min-height: 75px;
}

.skill-header {
	font-size: 24px;
}

.detail-container {
	text-align: center;
}

.detail {
	font-size: 18px;
	margin-bottom: 0px;
}

.octicon-container {
	text-align: center;
}

.octicon-container > a:hover,
.octicon-container > a:focus {
	border: none;
	outline: none;
}

.mega-octicon {
	font-size: 128px !important;
	color: #313640;
}

.github-icon {
	color: #313640;
	padding: 10px;
	padding-bottom: 0;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

.github-icon:hover {
	color: #41AF3D;
}

.stack-overflow-icon {
	background-image: url("../media/stackoverflow-icon.png")
}

.project-container {
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	padding-top: 0;
}

#project-header-container {
	margin: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.project-header {
	display: inline-block;
	background-color: #FF9421;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	font-size: 24px;
}

.project-content {
	padding: 20px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
}

.blog-container {
	
}

.blog-content {
	margin: auto;
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
}

.blog-header {
	display: inline-block;
	background-color: #41AF3D;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	font-size: 24px;
	vertical-align: top;
}

p.blog {
	padding: 20px;
	padding-left: 0px;
	font-size: 18px;
	margin-top: 20px;
}

.blog-img {
	cursor: pointer;
	padding: 20px;
	padding-bottom: 0;
	padding-top: 0;
}

.footer-container {
	background-color: #313640 !important;
}

.footer {
	margin: 0px !important;
	padding: 0px !important;
	min-height: 150px !important;
	display: flex !important;
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: o-flex !important;
	display: ms-flex !important;
}

#copyright-container {
	margin: auto !important;
	padding: 0 !important;
}

#copyright {
	color: #FFFFFF;
	vertical-align: middle !important;
}

#up-container {
	margin: auto !important;
	padding: 0 !important;
	justify-content: flex-end !important;
}

#up-button {
	width: 75px;
	height: 75px;
	border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	-moz-border-radius: 37.5px;
	border-color: #C7BAAD;
	border-style: solid;
	border-width: medium;
	background-color: transparent;
	float: right;
}

#up-button:hover {
	border-color: #40B0F9;
}

.up-graphic {
	color: #C7BAAD;
	font-size: 36px;
	line-height: 68px;
	width: 72px;
	vertical-align: middle;
	text-align: center;
}

.up-graphic:hover {
	color: #40B0F9;
}

.contact {
	margin-top: 0;
	margin-bottom: 40px;
	vertical-align: middle;
	text-align: center;
	
}

.sub-contact {
	display: inline-block;
	background-color: #40B0F9;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	font-size: 24px;
}

input[type="text"], input[type="email"], textarea {
	background-color: #F7F7F3;
	color: #313640;
	font-size: 20px;
	display: block;
	min-width: 250px;
	width: 75%;
	border: none;
	box-shadow: none;
	height: 60px;
	line-height: 58px;
	padding: 0px;
	text-indent: 18px;
	margin-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

::-webkit-input-placeholder {
	color: #7F736C;
}

::-moz-placeholder {
	color: #665A55;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #665A55;
}

textarea.message {
	width: 75%;
	height: 150px;
	resize: none;
}

button.submit {
	margin-bottom: 0;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	background-color: #FF9421;
	color: #FFFFFF;
	font-size: 25px;
	border: 0px;
}

button.submit:hover {
	background-color: #F37B20;
}

@media only handheld, (max-width: 500px) {
	#up-container {
		margin-left: 5px !important;
		margin-right: 5px !important;	
	}
	
	#copyright-container {
		margin-left: 5px !important;
		margin-right: 5px !important;
	}
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.project-circle {
	height: 125px;
	width: 125px;
	-moz-border-radius: 62.5px;
	-webkit-border-radius: 62.5px;
	border-radius: 62.5px;
	background-color: #313640;
	margin-top: 20px;
}

.project-circle:hover{
	background-color: #41AF3D;
}

.fa-stack-overflow {
	color: #E9E9E9 !important;
	font-size: 6em !important;
	padding-top: 20.5px !important;
}
